* {
  margin: 0%;
  padding: 0%;
}

:root {
  --primary-color: #008ecc;
  --primary-font-family: "hanken grotesk";
}

i {
  color: #008ecc;
}

#navbar {
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  backdrop-filter: blur(200px);
}
#navbar .top-nav {
  background-color: #f5f5f5;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}
#navbar .top-nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#navbar .top-nav-right i {
  color: var(--primary-color);
}

#navbar .bottom-nav {
  background-color: #ffffff;
  color: #008ecc;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ededed;
}

#navbar .logo {
  font-family: var(--primary-font-family);
  font-size: 36px;
  font-weight: 800;
}

#navbar .megamart {
  display: flex;
  gap: 10px;
  align-items: center;
}

#navbar .bi-list {
  font-size: 36px;
}

#navbar .search-bar {
  background-color: #f3f9fb;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  gap: 15px;
}

#navbar .search {
  color: #666666;
}

#navbar .search-bar {
  color: #666666;
}

#navbar .sign {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}
#navbar .sign-up {
  color: #666666;
  border-right: 1px solid #666666;
}

#navbar .bi-person-fill {
  font-size: 24px;
}
#navbar .cart {
  color: #666666;
}

#navbar .bi-cart-check {
  font-size: 24px;
}

#navbar .last-nav {
  padding: 20px 100px;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-1 {
  background-color: #f3f9fb;
  text-align: center;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list-1 select {
  border: none;
  outline: none;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 14px;
  color: #222222;
  background-color: #f3f9fb;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}
#navbar.bi-caret-down-fill {
  padding-top: 3px;
}

.list-1 select:hover {
  background-color: #008ecc;
  color: #ffffff;
}
/* MEDIA QUARY  */

@media screen and (max-width: 768px) {
  #navbar .top-nav {
    padding: 10px 0px;
    width: 100%;
    font-size: 16px;
  }
  #navbar .top-nav-right {
    display: none;
  }
  #navbar .bottom-nav {
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }
  #navbar .last-nav {
    display: none;
  }
  #navbar .last-nav {
    padding: 10px 20px;
  }
  .main {
    padding: 0;
  }
  #navbar .megamart {
    gap: 0;
    padding: 20px 0px;
  }
  #navbar .search-bar {
    display: none;
  }
}

/* ####### HERO SECTION #####  */
/* ####### HERO SECTION #####  */
/* ####### HERO SECTION #####  */
/* ####### HERO SECTION #####  */
/* ####### HERO SECTION #####  */

#main {
  margin: 0 100px;
}
#hero-section img {
  object-fit: cover;
  width: 100%;
  margin-top: 250px;
}

@media screen and (max-width: 768px) {
  #main {
    margin: 0;
    /* height: 20vh;
    padding: 20px 0;
    object-fit: cover; */
  }
  #hero-section img {
    overflow: hidden;
    padding: 20px 0px;
  }
}

/* ######### SMART PHONE ######  */
/* ######### SMART PHONE ######  */
/* ######### SMART PHONE ######  */
/* ######### SMART PHONE ######  */
/* ######### SMART PHONE ######  */
/* ######### SMART PHONE ######  */
/* ######### SMART PHONE ######  */
/* ######### SMART PHONE ######  */
/* ######### SMART PHONE ######  */

#navbar span {
  font-family: var(--primary-font-family);
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  padding-top: 8px;
}

#smart-phone h2 {
  text-decoration: underline var(--primary-color);
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 24px;
  padding: 20px 0;
}

#smart-phone .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#smart-phone .phone-gallery {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#smart-phone img {
  height: 200px;
  object-fit: cover;
}

#smart-phone .phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  width: 250px;
  height: 300px;
  margin-top: 30px;
  transition: all ease-in-out (0.4s);
  border: 2px solid white;
}

#smart-phone .phone-top {
  background-color: #f5f5f5;
  position: relative;
  border-radius: 20px;
}

#smart-phone .offer {
  background-color: var(--primary-color);
  color: #ededed;
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px;
  border-top-right-radius: 20px;

  border-bottom-left-radius: 20px;
}
#smart-phone .phone-bottom {
  border-bottom: 2px solid #ededed;
}

#smart-phone .phone-bottom h3 {
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 600;
}
#smart-phone .save {
  color: #249b3e;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

#smart-phone .phone-bottom {
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 600;
}

.phone-bottom span {
  text-decoration: line-through;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 600;
  padding: auto;
}
#smart-phone .phone:hover {
  border: 2px solid #008ecc;
  width: 250px;
  height: 300px;
  overflow: hidden;
  transform: scale(1.1, 1.1);
}
.heading span {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  #smart-phone .heading {
    flex-direction: column !important;
  }

  #smart-phone {
    padding: 20px;
  }
  #smart-phone h2 {
    padding: 10px;
  }
  #smart-phone .view {
    display: none;
  }

  #smart-phone .phone-gallery {
    justify-content: center;
    align-items: center;
    gap: 5 0px 0;
  }
  .view {
    display: none;
  }
}

/* ########## TOP CATOGRIES #########  */
/* ########## TOP CATOGRIES #########  */
/* ########## TOP CATOGRIES #########  */
/* ########## TOP CATOGRIES #########  */
/* ########## TOP CATOGRIES #########  */
/* ########## TOP CATOGRIES #########  */

#catogries {
  margin-top: 100px;
}

#catogries .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  text-decoration: underline transparent;
}
#catogries .heading :hover {
  text-decoration: underline var(--primary-color);
  padding-bottom: 10px;
}

#catogries .heading h2 {
  font-family: var(--primary-font-family);
  font-size: 24px;
  font-weight: 700;
}
#catogries.gallery-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#catogries img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #f5f5f5;
  border: 1px solid white;
}

#catogries img:hover {
  border: 1px solid var(--primary-color);
}

#catogries .phone h3 {
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

#catogries .gallery-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .heading p {
    display: none;
  }
  #catogries .gallery-main {
    display: -webkit-inline-box;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #catogries .gallery-main {
    margin-left: 50px;
    padding: 20px;
  }
}
